In [8]:
import pandas as pd
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
import seaborn as sb
import numpy as np

In [9]:
df = pd.read_csv('loan.csv',dtype='unicode')

In [10]:
df.shape
#data.info()

(39717, 111)

In [11]:
#Finding percentage of null or missing values
#null_perc = round(100*(df.isnull().sum()/len(df.index)), 2)
#Printing columns which have more than 0% missing values
#null_perc[ null_perc > 0 ]

In [12]:
##Cleaning data based on the below criteria

In [13]:
# Dropping columns having all missing values
del cleaned_df
cleaned_df = df.dropna(axis=1, how='all')

NameError: name 'cleaned_df' is not defined

In [14]:
## Deleting column not adding any importance
cleaned_df = cleaned_df.drop(['chargeoff_within_12_mths','desc', 'member_id', 'url', 'acc_now_delinq', 'inq_last_6mths', 
             'tax_liens', 'collections_12_mths_ex_med', 'title', 'emp_title', 'sub_grade', 'last_pymnt_d',
             'next_pymnt_d', 'pub_rec', 'recoveries', 'zip_code' ], axis=1)

NameError: name 'cleaned_df' is not defined

In [ ]:
## Deleting column having all same values.
cleaned_df = cleaned_df.drop(['policy_code', 'application_type', 'initial_list_status', 'pymnt_plan', 'delinq_amnt'], 
                             axis=1)

In [ ]:
# Removing rows with loan status as current, as we need to consider only fully paid and charged off loans to identify
# default reason
cleaned_df = cleaned_df[cleaned_df.loan_status != 'Current']

In [ ]:
# Check no of columns dropped.
cleaned_df.shape

In [ ]:
# identify unique columns
unique_columns= cleaned_df.nunique(axis=0) 
print("No.of.unique values in each column :\n",unique_columns)

In [ ]:
## correct the format of the cleaned columns

In [ ]:
## Strip months from term
cleaned_df['term'] = cleaned_df['term'].str.rstrip('months')
#print(cleaned_format_df['term'])
## Strip % from int_rate
cleaned_df['int_rate'] = cleaned_df['int_rate'].str.rstrip('%')
print(cleaned_df['int_rate'])

In [ ]:
## Strip years 
cleaned_df['emp_length'] = cleaned_df['emp_length'].str.rstrip('years ')
cleaned_df['emp_length'].replace({'10+': '10'}, inplace=True)
cleaned_df['emp_length'][cleaned_df['emp_length'] == '< 1'] = '0'
print(cleaned_df['emp_length'])

In [ ]:
# correct the issue date
cleaned_df['issue_d'], cleaned_df['issue_d_year'] = cleaned_df['issue_d'].str.split('-').str
cleaned_df['issue_d_year'] = '20' + cleaned_df['issue_d_year']
cleaned_df['issue_d'] = cleaned_df['issue_d'] + cleaned_df['issue_d_year']
#cleaned_format_df = drop.cleaned_df('issue_d_year')
print(cleaned_df['issue_d'])

In [ ]:
##Format the columns
print(cleaned_df.dtypes)
columns = ['loan_amnt', 'funded_amnt','funded_amnt_inv', 'installment', 'annual_inc', 'emp_length', 'dti', 
          'revol_bal', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
          'total_rec_late_fee', 'int_rate']
cleaned_df[columns] = cleaned_df[columns].astype(np.float)

In [ ]:
## Univariate Analysis

In [ ]:
#cleaned_df["loan_amnt"].value_counts()

In [ ]:
sb.boxplot( y=cleaned_df["loan_amnt"] )
plt.ylabel('Loan Amount')
plt.show()

In [ ]:
## Inference 1: Maximum no of loans are disbursed with loan amount between 5K and 15K.
## Inference 2: Maximum loan amount range from 0 to 35000

In [ ]:
sb.countplot(x='grade', data=cleaned_df)
plt.show()

In [ ]:
## Inferene : If loan grade is from highest A to lowest B, then from the above plot maximum loans availed 
##            are high grade loans.

In [ ]:
sb.countplot(x='emp_length', data=cleaned_df)
plt.xlabel('Employee Working Experience')
plt.show()

In [ ]:
## Inferene : Maximum loans are availed by employee with work experience 10 years or more.

In [7]:
sb.countplot(x='emp_length', hue='loan_status', data=cleaned_df)
plt.xlabel('Employee Working Experience')
plt.show()

NameError: name 'cleaned_df' is not defined